---
layout: default
---
<div class="card-body">
    <article class="post">
        <div class="post-header">
            {% if page.mediaType == "vimeo" %}
            <div class="ratio ratio-16x9 mb-20">
                <iframe class="embed-responsive-item" src="{{ page.mediaSource }}" allowfullscreen></iframe>
            </div>
            {% endif %}
            {% if page.mediaType == "image" %}
                <figure> <img src="{{ page.mediaSource }}" alt="{{ page.title }}" /></figure>
            {% endif %}
            <h2 class="post-title">{{ page.title }}</h2>
            <ul class="post-meta">
                <li class="post-date">{{ page.date | date_to_string }}</li>
                <li class="post-tags">
                    {% if page.categories %}
                        {% for category in page.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
                    {% endif %}
                </li>
            </ul>
            <!-- /.post-meta -->
        </div>
        <!-- /.post-header -->
        <div class="space10"></div>
        <div class="post-body text-justify">
            <div class="post">
                {{content}}
            </div>
            <hr class="hrShare"/>
            {% include share-page.html %}
            <hr class="hrShare"/>
            {% assign hasSimilar = '' %}
            {% for post in site.posts  %}
            {% assign postHasSimilar = false %}
            {% for tag in post.categories %}
            {% for thisTag in page.categories %}
            {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
            {% if hasSimilar.size == 0 %}
            <div>
                <h6>Related Posts:</h6>
                <ul>
                    {% endif %}
                    <li class="post-tags">
                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                        {% if post.categories %}
                        (Categories: {% for category in post.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %})
                        {% endif %}
                    </li>
                    {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                    {% assign postHasSimilar = true %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                    {% if hasSimilar.size > 0 %}
                </ul>
            </div>
            {% endif %}


            <div class="disqus-comments">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* <![CDATA[ */
                    var disqus_shortname = "{{ site.disqus_shortname }}";
                    var disqus_identifier = "{{ site.url }}_{{ page.title }}";
                    var disqus_title = "{{ page.title }}";

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                    /* ]]> */
                </script>
            </div>
        </div>
        <!-- /.post-body -->
    </article>
    <!-- /article -->
</div>
